@font-face {
    font-family: 'IronickNF'; /* give your font a name to reference it by later on! */
    src: url(./../../IronickNF.ttf);
}

/* ScrollBar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*Userlist.js*/
.beautyBlock {
  height: 50px;
}

.itemsAccordion {
  margin: auto;
  width: 400px;
  height: 436px;
  overflow: auto;
}

/*UserlistItem.js*/
.PersonButton {
  background: #f08800;
  background-image: -webkit-linear-gradient(top, #ffae45, #f08800);
  background-image: -moz-linear-gradient(top, #ffae45, #f08800);
  background-image: -o-linear-gradient(top, #ffae45, #f08800);
  background-image: linear-gradient(to bottom, #ffae45, #f08800);

  width: 388px;
  height: 60px;
  background-color: #f08800;
  color: white;
  font-size: 32px;
  font-family: IronickNF;
  border: solid white 1px;
}

.PersonInfo {
  text-align: left;
  font-size: 18px;
  color: grey;
}

ul {
  list-style-type: none;
  padding: 1em;
  margin: 0;
}

li {
  padding: 4px;
}

.Username {
  font-size: 24px;
  font-style: italic;
}

.personImage {
  float: right;
  width: 96px;
  height: 96px;
}

a:link {
  color: #6da3f9;
}

a:visited {
  color: #6da3f9;
}

a:hover {
  color: #2771e8;
}

a:active {
  color: #f08800;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-body {
  text-align: left;
  margin-left: 50px;
}

.contactperson {
  background: #6da3f9;
  background-image: -webkit-linear-gradient(top, #7fa7e8, #6da3f9);
  background-image: -moz-linear-gradient(top, #7fa7e8, #6da3f9);
  background-image: -o-linear-gradient(top, #7fa7e8, #6da3f9);
  background-image: linear-gradient(to bottom, #7fa7e8, #6da3f9);
  color: white;
  margin-left: 75%;
}

.AddressInfo {
  color: #f08800;
}
